.navGroup {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
}

.navLeft {
    justify-content: flex-start;
}

.navCenter {
    justify-content: center;
}

.navRight {
    justify-content: flex-end;
}

.navButton {
    height: 100%;
    background-color: rgba(0,0,0,0);
    fill-opacity: 1;
    color: #eff0f1;
}

.navButton:disabled {
    fill-opacity: 0.33;
}

.hidden {
    display: none;
}

.itemListItem {
  background-color: #4d4d4d;
  fill-opacity: 1;
  color: #eff0f1;
  /* height: 48px; */
  width: 100%;
  filter: drop-shadow(5px 5px 5px black);
  margin-bottom: 10px;
  padding: 20px;
  font-weight: bold;
  text-align: left;
  font-size: 30px;
}

.itemListItem:active {
    transform: translateY(4px);
    filter:none;
}

.itemListButton {
    height: 100%;
    background-color: #4d4d4d;
    fill-opacity: 1;
    color: #eff0f1;
}

.itemListButton:active {
    transform: translateY(4px);
    filter:none;
}

.listInfoImage {
    max-height: 98%;
    max-width: 98%;
    border-radius: 5px;
    width: auto;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(3px 3px 3px black);
}

.searchGroup {
    height: 68px;
    width: 100%;
    filter: drop-shadow(3px 3px 3px black);
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.searchForm {
    height: 100%;
    width: 80%;
    border: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    padding-left: 100px;
    color: #000 !important;
}

#navLine1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

#content {
    position: absolute;
    top: 74px;
    left: 0px;
    right: 0px;
    bottom: 74px;
    overflow: auto;
}
#listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 40%;
    margin-bottom: 10px;
}

#listImage {
    display: flex;
    justify-content: center;
    max-width: 39%;
}

#listInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 59%;
}

#listTitle {
    font-size: 40px;
    width: 95%;
    text-align: center;
}

#listSubtitle {
    font-size: 25px;
}

#navLine2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 40px;
}

#content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #232629;
}

#content::-webkit-scrollbar
{
    width: 8px;
    background-color: #232629;
}

#content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #F5F5F5;
}

#buttonZoneName {
    font-size: 24px;
}
